html{
    background-image:url("imgs/map.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
#rules {
    margin:3%;
    padding:15px;
    text-align:center;
    color:rgb(209, 175, 80);
    background-color:rgba(71, 49, 49, 0.836);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#game{
    text-align: center;
}
.feedback{
    display: inline-block;
    padding: 10px;
    color:rgb(209, 175, 80);
}
.hidden{
    display:none;
}
#game img{
    scale: 150%;
    margin-top: 75px;
    margin-left: 25px;
}
.labels{
    color: rgb(233, 205, 199);
    background-color: rgba(71, 49, 49, 0.836);
    font-size: x-large;
    font-weight: bolder;
}
#season{
    position: fixed;
    left: 30%;
}
#cost{
    position: fixed;
    left: 38%;
}
#value{
    position: fixed;
    left: 46%;
}
#time{
    position: fixed;
    left: 54%;
}
#energy{
    position: absolute;
    left: 62%;
    text-wrap: wrap;
    max-width: 80px;
}
#health{
    position: fixed;
    left: 70%;
    max-width: 80px;
}
