html{
    background-image:url("imgs/map.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
#rules {
    margin:3%;
    padding:15px;
    text-align:center;
    color:rgb(209, 175, 80);
    background-color:rgba(71, 49, 49, 0.836);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#game{
    text-align: center;
    
}
.feedback{
    display: inline-block;
    padding: 10px;
    color:rgb(209, 175, 80);
}
.hidden{
    display:none;
}
#game img{
    scale: 150%;
    margin: 15px;
}